/*************************************/
/*       GENERAL STYLES FOR ALL      */
/*************************************/

/* entire html page */
html {
    background: white;
    width: 100%;
	height: 100%;
}

.title-block {
    margin-bottom: -0.5rem;
}

/* 3 purple dots while loading */
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #7864F6;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/* header menu */
.navbar-custom {
    z-index: 999;
	background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    font: 0.875rem/0 "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s;
    position: absolute;
    width: 100%;
}

/* menu content */
.navbar-custom .container {
	max-width: 100%;
}

/* signature */
.navbar-custom .navbar-brand.logo-image img {
    width: 160px;
	height: auto;
}

/* actual menu */
.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

/* sections + mobile dropdown menu humburger */
.navbar-custom .nav-item .nav-link {
	padding: 1.125rem 1.5rem 1.125rem 1.8rem;
    text-align: left;
    width: auto;
    color: #f7f5f5;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.navbar-custom .nav-item .nav-link:hover {
  	color: #69d27c;
}
.navbar-custom .nav-item .nav-link:active {
	color: white;
}

/* mobile dropdown menu humburger */
.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: white;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}

/* block with actual content */
.sub-block {
    align-content: center;
    text-align: center;
    padding-bottom: 4%;
}

/* headers */
.header, .project-header {
    place-content: flex-end;
    text-align: center;
   /* margin-bottom: -0.5rem; */
}

/* page sections */
.about, .footer {
    padding-bottom: 8%;
	padding-top: 8%;   
    text-align: center;
}

/* body texts */
.body-text,  .body-text-footer {
    font: 1rem/1.5rem "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* main body text */
.body-text {
    color: black;
}

/* body text in footer */
.body-text-footer {
    color: white;
}

/* title of footer */
h1-footer {
	color: white;
}

/* footer */
.footer {
    position: relative;
    z-index: 998;
    background-color: black;
}

/* footer black wave */	
.footer-frame {
    width: 100%;
}

/* social block */
.footer .icon-container {
	text-align: left;
}

/* social icons */
.footer .fa-stack {
	margin-right: 1rem;
	font-size: 1.3rem;
}

/* social icons inside */
.footer .fa-stack .fa-stack-1x {
    color: black;
	transition: all 0.2s ease;
}

/* social icon circles */
.footer .fa-stack .fa-stack-2x {
	color: #7864F6;
	transition: all 0.2s ease;
}

/* social icons inside on hover */
.footer .fa-stack:hover .fa-stack-1x {
	color: black;
}

/* social icon circles on hover so their color is not interrupted */
.footer .fa-stack:hover .fa-stack-2x {
    color: white;
}

/* back-to-top purple button */
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 10.875rem;
	background: #7864F6 url("../images/up-arrow-white.svg") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
    background: #F2F2F2 url("../images/up-arrow-black.svg") no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
}

/******************************/
/*          HOME PAGE         */
/******************************/

/* home page header */
.header {
    background: radial-gradient(at top left, rgba(72,211,89) 0%, rgba(120,100,246,1) 75%);
    background-size: 160% 160%; 
    animation: gradient 4s ease infinite;
}

/* background gradient */
@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

/* page title */
.name {
    color: rgba(255, 255, 255, 0.1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font: 17rem/13rem "indivisible";
    font-weight: 900;
    font-style: normal;
	letter-spacing: -4px;
    position: relative;
    z-index: 1;
}
.name:hover {
    color: white;
}

/* image of me */
.image-container {
    z-index: 0;
    width: 100%;
    position: relative;
}

/* portfolio grid */
.portfolio {
    display: grid;
    margin-bottom: -3.8rem;
    grid-template-columns: 1fr  1fr 1fr;
}

/* all project displays */
.exhibit-booth, .tote-bags, .company-presentation, .leaflet, .notebook, .ig-post-series, .print-posters, .creative-photography, .ux {
    aspect-ratio: 1; /* not to distort squares with screen size */
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the background image from repeating */ 
    background-position: 50% 50%;
    color: white; /* text color of the button */ 
    border: none; /* remove the button border */ 
}

.exhibit-booth {
    background-image: url("../images/projects_displays/Exhibit%20Booth_bw.jpg"); 
}
.exhibit-booth:hover {
    background-image: url("../images/projects_displays/Exhibit%20Booth_colored.jpg");
    color: transparent;
}

.tote-bags {
    background-image: url("../images/projects_displays/Tote%20Bags_bw.jpg"); 
}
.tote-bags:hover {
    background-image: url("../images/projects_displays/Tote%20Bags_colored.jpg"); 
    color: transparent;
}

.company-presentation {
    background-image: url("../images/projects_displays/Presentation_bw.jpg"); 
}
.company-presentation:hover {
    background-image: url("../images/projects_displays/Presentation_colored.jpg"); 
    color: transparent;
}

.leaflet {
    background-image: url("../images/projects_displays/Leaflet_bw.jpg"); 
}
.leaflet:hover {
    background-image: url("../images/projects_displays/Leaflet_colored.jpg"); 
    color: transparent;
}

.notebook {
    background-image: url("../images/projects_displays/Notebook_bw.jpg"); 
}
.notebook:hover {
    background-image: url("../images/projects_displays/Notebook_colored.jpg"); 
    color: transparent; 
}

.ig-post-series {
    background-image: url("../images/projects_displays/IG%20Post%20Series_bw.jpg"); 
}
.ig-post-series:hover {
    background-image: url("../images/projects_displays/IG%20Post%20Series_colored.jpg"); 
    color: transparent; 
}

.print-posters {
    background-image: url("../images/projects_displays/Print%20Poster_bw.jpg"); 
}
.print-posters:hover {
    background-image: url("../images/projects_displays/Print%20Poster_colored.jpg"); 
    color: transparent; 
}

.creative-photography {
    background-image: url("../images/projects_displays/Creative%20Photography_bw.jpg"); 
}

.creative-photography:hover {
    background-image: url("../images/projects_displays/Creative%20Photography_colored.jpg"); 
    color: transparent; 
}

.ux {
    background-image: url("../images/projects_displays/UX_UI_bw.jpg"); 
}

.ux:hover {
    background-image: url("../images/projects_displays/UX_UI_colored.jpg"); 
    color: transparent; 
}

/* about bottom wave */
.about-bottom-wave {
    position: absolute; /* to place it on top */
    stroke: black;
    stroke-dasharray: 2070,10000,20,200;
    background-color: transparent;
    width: 100%;
}

/* about */
.about {
    position: relative;
    z-index: 998;
    background-color: white;
    transition: all 0.2s; /* so that bg color change is smooth */
}

/* top and bottom waves path class so that its color changes with bg color of about */
.cls-1, .cls-3 {
    fill: white;
    transition: all 0.2s;
}

/* styles for button shape */
.btn-skills {
	display: inline-block;
	padding: 0.6rem 0rem 0.6rem 2rem;
    margin-top: 1rem;
    margin-right: 0.7rem;
	border-radius: 200rem;
    background: rgba(0,0,0,0.05);
    font: 1rem/0rem "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
	text-decoration: none;
	transition: all 0.2s;
}
.btn-skills:hover {
    background: rgba(0,0,0,0.1);
	text-decoration: none;
}

/* styles for shape content */
.sketch, .after-effects, .figma, .canva, .illustrator, .wordpress, .photoshop, .modeling, .indesign {
    background-color: transparent;
    padding: 1rem 2rem 1rem 2.4rem;
    border: 0rem;
    background-position: left;    
    background-repeat: no-repeat;
}
.sketch, .after-effects, .figma, .canva, .illustrator, .wordpress, .photoshop, .modeling, .indesign:disabled {
    color: black;
}

.sketch {
    background-image: url("../images/skills_icons/sketch.svg");
}

.btn-skills .after-effects {
    background-image: url("../images/skills_icons/after-effects.svg");
}

.btn-skills .figma {
    background-image: url("../images/skills_icons/figma.svg");   
}

.btn-skills .canva {
    background-image: url("../images/skills_icons/canva.svg");   
}

.btn-skills .illustrator {
    background-image: url("../images/skills_icons/illustrator.svg");   
}

.btn-skills .wordpress {
    background-image: url("../images/skills_icons/wordpress.svg");   
}

.btn-skills .photoshop {
    background-image: url("../images/skills_icons/photoshop.svg");   
}

.btn-skills .indesign {
    background-image: url("../images/skills_icons/indesign.svg");  
}


/******************************/
/*         PROJECT PAGE       */
/******************************/

.project-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.section {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 15% 70% 15%;
    max-width: 100%;
}

.center-block {
    padding: 8%;
    background-color: white;
    text-align: center;
}

.double-grid {
    display: grid;
    padding-bottom: 8%;
    grid-gap: 5%;
    grid-template-columns: auto auto;
    max-width: 100%;
}

.colored-block-right {
    text-align: right;
    align-content: center;
}

.colored-block-left {
    text-align: left;
    align-content: center;
}

.gray-block {
    background-color: #F1F1F1;
}

/* project page title */
h1-project {
	color: #CCCCCC;
}

/* vertical text on colored block */
vertical-text {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font: 5.5rem/3.6rem "indivisible", sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
}

.svg-block {
    padding-top: 8%;
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
/************* MEDIA QUARIES/SCREEN SIZES START HERE *************/
/* the order goes from smallest to largest and cannot be changed */

/****************************************/
/* all screens of 68px width and larger */
/****************************************/

@media (min-width: 68px) {
    
/* headers */ 
.header, .project-header {
    height: 350px;
}
    
/* about bottom wave */
.about-bottom-wave {
    stroke-width: 1rem;
    height: 4rem;
}
   
/* portfolio grid */
.portfolio {
    grid-template-columns: 1fr 1fr;
}
    

  
/* styles for button shape */
.btn-skills {
	padding: 0.3rem 0rem 0.3rem 1rem;
    margin-top: 0.6rem;
    margin-right: 0.2rem;
    font: 0.8rem/0rem "indivisible", sans-serif;
}

/* header menu */
.navbar-custom {
    background-color: rgba(255,255,255,0.3);
}
 
/* image of me container*/
.image-container {
    text-align: center; /* otherwise goes left on bigger screens */
    position: absolute; /* otherwise goes down on bigger screens */
    margin-top: -20rem;
} 
    
/* image of me */ 
.img-wrapper {
    width: 240px; 
    display: inline-block;
    opacity: .8;
}
  
/* home page title */
.name {
	font: 4.5rem/3.2rem "indivisible";
    font-weight: 900;
	letter-spacing: -7px;
} 

/* footer black wave */	
.footer-frame {
    height: 2rem;
}

/* title of page */
h1, h1-footer, h1-project {
    font: 1.5rem/2rem "indivisible", sans-serif;
    font-weight: 900;
    text-transform: capitalize;
}
   
/* social block */
.footer .icon-container {
	text-align: center;
}  
    
}

/********************************************/
/* all screens of 768px width and larger    */
/********************************************/
    
@media (min-width: 768px) {
    
/* header */ 
.header, .project-header {
    height: 500px;
}
      
/* styles for button shapes */
.btn-skills {
	padding: 0.6rem 0rem 0.6rem 2rem;
    margin-top: 1rem;
    margin-right: 0.7rem;
    font: 1rem/0rem "indivisible", sans-serif;
	transition: all 0.2s;
}
    
/* image of me block */
.image-container {
    margin-top: -30rem;
}
     
/* image of me */ 
.img-wrapper {
    width: 340px; 
} 
    
/* title page header */
.name {
	font: 9rem/6.5rem "indivisible";
    font-weight: 900;
} 
    
/* footer black wave */	
.footer-frame {
    height: 3rem;
}
  
/* title of page */
h1, h1-footer, h1-project {
    font: 2rem/2.4rem "indivisible", sans-serif;
    font-weight: 900;
}
    
}

/********************************************/
/* all screens of 992px width and larger    */
/********************************************/

@media (min-width: 992px) {
    
/* header */ 
.header, .project-header {
    height: 600px;
}
    
/* about bottom wave */
.about-bottom-wave {
    stroke-width: 1.2rem;
    height: 6rem;
}

.portfolio {
    grid-template-columns: 1fr 1fr 1fr;
}
    
.double-grid {
    grid-template-columns: auto auto;
}
    
/* header menu */
.navbar-custom {
    background-color: transparent;
}
    
/* image of me */ 
.img-wrapper {
    width: 480px; 
}

/* image of me block */
.image-container {
    margin-top: -35rem;
}

/* home page title header */
.name {
	font: 11.5rem/8.5rem "indivisible";
    font-weight: 900;
} 
   
/* footer black wave */	
.footer-frame {
    height: 4rem;
}

/* title of page */
h1, h1-footer, h1-project {
    font: 2.2rem/2.8rem "indivisible", sans-serif;
    font-weight: 900;
    text-align: center;  
}

}

/*********************************************/
/* all screens of 1200px width and larger    */
/*********************************************/

@media (min-width: 1200px) {
    
/* header */ 
.header, .project-header {
    height: 700px;
}
  
/* image of me */ 
.img-wrapper {
    margin-top: 40px;
    z-index: 1;
    width: 480px; 
    display: inline-block;
    opacity: .8;
} 
      
/* home page title */
.name {
	font: 14rem/10.5rem "indivisible";
    font-weight: 900;
	letter-spacing: -4px;
} 
    
/* image of me block */
.image-container {
    margin-top: -45rem;
} 
     
/* footer black wave */	
.footer-frame {
    height: 3rem;
}
 
}
  
/*********************************************/
/* all screens of 1700px width and larger    */
/*********************************************/

@media (min-width: 1700px) { 
    
.section {
    grid-template-columns: 1fr 1300px 1fr;
}
    
/* header */ 
.header, .project-header {
    height: 800px;
}   

/* image of me block */
.image-container {
    margin-top: -50rem;
}
    
/* image of me */ 
.img-wrapper {
    width: 580px; 
}
       
/* home page title */
.name {
	font: 19rem/14rem "indivisible";
    font-weight: 900;
} 
    
}